<%- include('../marketplace/partials/head.ejs') %>
     <%- include('../marketplace/partials/navbar.ejs') %>

          <div class="container mt-5">
               <h1 class="text-center my-4">Dashboard</h1>

               <p>Bienvenue, <%= seller.displayName %>!</p>

               <!-- <h3>Profil</h3>
               <a href="/seller/profile" class="btn btn-primary">Voir mon profil</a> -->

               <h3 class="mt-5">Mes annonces</h3>
               <a href="/seller/announcements" class="btn btn-warning">Voir mes annonces</a>
          </div>

          <%- include('../marketplace/partials/footer.ejs') %>