<%- include('./marketplace/partials/head.ejs') %>
     <div class="container mt-5">
          <h1>Politique de cookies</h1>
          <h3>1. Que sont les cookies ?</h3>
          <p>
               Les cookies sont des fichiers texte stockés sur votre appareil lors de la visite de certains sites Web pour améliorer l'expérience utilisateur.
          </p>
          <h3>2. Pourquoi utilisons-nous des cookies ?</h3>
          <p>
               Nous utilisons des cookies pour analyser le trafic, personnaliser le contenu et améliorer l'expérience utilisateur.
          </p>
          <h3>3. Gestion des cookies</h3>
          <p>
               Vous pouvez désactiver les cookies dans les paramètres de votre navigateur, mais cela peut affecter certaines fonctionnalités du site.
          </p>
          <h3>4. Types de cookies utilisés</h3>
          <p>
               Nous utilisons des cookies de session, des cookies analytiques et des cookies fonctionnels.
          </p>
     </div>
     <%- include('./marketplace/partials/footer.ejs') %>