<!-- views/partials/sidebar.ejs -->
<div class="flex flex-col h-full">
     <!-- Logo -->
     <div class="h-16 flex items-center px-6 border-b border-neutral-200">
         <h1 class="text-xl font-semibold text-neutral-800">Ndressilik</h1>
     </div>
 
     <!-- Navigation -->
     <nav class="flex-1 py-4">
         <div class="space-y-1">
             <a href="/dashboard/new-service" class="flex items-center px-6 py-3 text-neutral-600 hover:bg-neutral-100 hover:text-primary">
                 <i class="fas fa-plus-circle w-5 h-5"></i>
                 <span class="ml-3">Ajouter un service</span>
             </a>
 
             <a href="/dashboard/services" class="flex items-center px-6 py-3 text-neutral-600 hover:bg-neutral-100 hover:text-primary">
                 <i class="fas fa-list w-5 h-5"></i>
                 <span class="ml-3">Mes services</span>
             </a>
 
             <a href="/dashboard/profile" class="flex items-center px-6 py-3 text-neutral-600 hover:bg-neutral-100 hover:text-primary">
                 <i class="fas fa-user w-5 h-5"></i>
                 <span class="ml-3">Mon profile</span>
             </a>
 
             <a href="/dashboard/stats" class="flex items-center px-6 py-3 text-neutral-600 hover:bg-neutral-100 hover:text-primary">
                 <i class="fas fa-chart-line w-5 h-5"></i>
                 <span class="ml-3">Statistiques</span>
             </a>
 
             <a href="/dashboard/requests" class="group flex items-center px-6 py-3 text-neutral-600 hover:bg-neutral-100 hover:text-primary relative">
                <i class="fas fa-bell w-5 h-5"></i>
                <span class="ml-3">Requests</span>
                
                    <span class="absolute right-6 top-1/2 -translate-y-1/2 flex">
                        <span class="animate-ping absolute inline-flex h-2 w-2 rounded-full bg-red-400 opacity-75"></span>
                        <span class="relative inline-flex rounded-full h-2 w-2 bg-red-500"></span>
                    </span>
                
            </a>
 
            
 
             <a href="/dashboard/reviews" class="flex items-center px-6 py-3 text-neutral-600 hover:bg-neutral-100 hover:text-primary">
                 <i class="fas fa-star w-5 h-5"></i>
                 <span class="ml-3">Reviews</span>
             </a>
         </div>
     </nav>
 
     <!-- Bottom section -->
     <div class="p-6 border-t border-neutral-200">
         <a href="/logout" class="flex items-center text-neutral-600 hover:text-primary">
             <i class="fas fa-sign-out-alt w-5 h-5"></i>
             <span class="ml-3">Déconnexion</span>
         </a>
     </div>
 </div>