<script>
     (function (mpe) {
          var d = document,
               s = d.createElement('script'),
               l = d.scripts[d.scripts.length - 1];
          s.settings = mpe || {};
          s.src = "\/\/unrealistic-reaction.com\/c.DI9A6\/bM2a5Ll_S-WNQU9rNfTYUL3\/MkDaEzxMObCx0q1JNDTKcawwMvTREM5T";
          s.async = true;
          s.referrerPolicy = 'no-referrer-when-downgrade';
          l.parentNode.insertBefore(s, l);
     })({})
</script>
<script type="text/javascript">
     atOptions = {
          'key': 'd20b049d82c8e72c1f2174e9befd7efd',
          'format': 'iframe',
          'height': 50,
          'width': 320,
          'params': {}
     };
</script>
<script type="text/javascript" src="//www.topcreativeformat.com/d20b049d82c8e72c1f2174e9befd7efd/invoke.js"></script>
<footer class="footer py-5" style="background-color: #222; color: #fff;">
     <div class="container">
          <div class="row">
               <!-- Logo Section -->
               <div class="col-md-4 mb-4">
                    <a href="/" class="d-flex align-items-center mb-2 link-light text-decoration-none">
                         <img src="https://res.cloudinary.com/dxg2nsnkj/image/upload/v1726159468/dogs/hsdy0nueyyjulhocok6w.png" alt="Ndressilik Logo" style="width: 150px;">
                    </a>
                    <p class="text-muted" style="font-size: 0.875rem;">Votre plateforme idéale pour tout sur les chiens au Maroc.</p>
               </div>

               <!-- Social Links Section -->
               <div class="col-md-4 mb-4">
                    <h5 class="text-light">Suivez-nous</h5>
                    <ul class="list-unstyled d-flex">

                         <li class="me-3">
                              <a href="https://instagram.com/ndressilik" target="_blank" class="link-light" aria-label="Instagram">
                                   <i class="fab fa-instagram fa-2x"></i>
                              </a>
                         </li>

                    </ul>
               </div>

               <!-- Navigation Links Section -->
               <div class="col-md-4 mb-4">
                    <h5 class="text-light">Liens utiles</h5>
                    <ul class="list-unstyled">
                         <li><a href="/announcements" class="link-light text-decoration-none">Vendre des Chiens</a></li>
                         <li><a href="/consultation" class="link-light text-decoration-none">Consultation</a></li>
                         <li><a href="/articles" class="link-light text-decoration-none">Nos Articles</a></li>
                    </ul>

                    <hr>
                    <ul class="list-unstyled">
                         <li><a href="/privacy-policy" class="text-light">Politique de confidentialité</a></li>
                         <li><a href="/terms" class="text-light">Conditions générales</a></li>
                         <li><a href="/cookies-policy" class="text-light">Politique de cookies</a></li>
                    </ul>
               </div>
          </div>

          <div class="text-center pt-4 border-top" style="border-color: #444;">
               <p class="text-white" style="font-size: 0.875rem;">&copy; <%= new Date().getFullYear() %> Ndressilik. Tous droits réservés.</p>
          </div>
     </div>
</footer>

</body>
<script>



</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<!-- <script>
     let lastScrollTop = 0;
     const navbar = document.querySelector('.nav');

     window.addEventListener('scroll', function () {
          let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

          if (scrollTop > lastScrollTop) {
               // Scrolling down: hide the navbar
               navbar.style.top = '-100px'; // Adjust the value to match your navbar height
          } else {
               // Scrolling up: show the navbar
               navbar.style.top = '0';
          }

          lastScrollTop = scrollTop;
     });
</script> -->
<script type="text/javascript">
     atOptions = {
          'key': 'd20b049d82c8e72c1f2174e9befd7efd',
          'format': 'iframe',
          'height': 50,
          'width': 320,
          'params': {}
     };
</script>
<script type="text/javascript" src="//www.topcreativeformat.com/d20b049d82c8e72c1f2174e9befd7efd/invoke.js"></script>

</html>