<section class="hero-section">
     <div class="container">
          <div class="row align-items-center hero-content">
               <div class="col-lg-6">
                    <h1 class="hero-title">Bienvenue à <span class="highlighted-text">Ndressilik</span></h1>
                    <p class="hero-subtitle">Votre plateforme de confiance pour trouver et adopter des chiens au Maroc. Découvrez notre vaste sélection d'annonces vérifiées dès maintenant !</p>
                    <a href="/announcements" class="btn btn-primary btn-lg hero-cta">Voir les annonces</a>
               </div>
               <div class="col-lg-6 text-center">
                    <img src="https://res.cloudinary.com/dxg2nsnkj/image/upload/v1726159468/dogs/hsdy0nueyyjulhocok6w.png" alt="Hero Dog" class="hero-image d-none d-lg-inline-block">
               </div>
          </div>
     </div>
</section>
<style>

</style>