<section class="hero-section" style=" padding: 50px 0;">
     <div class="container">
          <div class="row align-items-center" style="
    z-index: 3;
    position: relative;
">
               <!-- Text Section -->
               <div class="col-md-6">
                    <h1 style="font-size: 3rem; font-weight: bold; color: #333;">Bienvenue à Ndressilik</h1>
                    <p style="font-size: 1.25rem; color: #555;">Votre plateforme idéale pour trouver et adopter des chiens au Maroc. Découvrez notre vaste sélection d'annonces dès maintenant !</p>
                    <!-- <a href="/announcements" class="btn btn-dark btn-lg" style="font-size: 1.125rem;">Voir les annonces</a> -->
               </div>

               <!-- Image Section -->
               <div class="col-md-6 text-center d-none d-md-block">
                    <img src="https://res.cloudinary.com/dxg2nsnkj/image/upload/v1726159468/dogs/hsdy0nueyyjulhocok6w.png" alt="Hero Dog" style="max-width: 100%; border-radius: 8px;">
               </div>

          </div>
     </div>
</section>
<style>

</style>