<!-- <header class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

     <div class="container">
          <a class="navbar-brand" href="/">
               <img src="https://res.cloudinary.com/dxg2nsnkj/image/upload/v1726071234/Untitled_design_8_b90gyq.png" style="width:40px" alt="Ndressilik">
               Ndressilik</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               </ul>
               <div class="d-flex">
                    <% if (user) { %>
                         <% if (user && user.role==='writer' ) { %>
                              <a class="btn btn-success mb-2" href="/write-article/new">Partager un article</a>
                              <% } %>

                                   <a href="/seller/dashboard" class="btn btn-outline-dark me-2">Dashboard</a>
                                   <a href="/announcements/new" class="btn btn-warning me-2"> Ajouter Annonce</a>
                                   <a href="/auth/logout" class="btn btn-danger">Logout</a>
                                   <% } else { %>
                                        <a href="/auth/google" class="btn btn-link"> Ajouter une annonce</a>
                                        <% } %>
               </div>
          </div>
     </div>
</header> -->



<style>
     a {
          font-size: 14px;
          font-weight: 700
     }

     .superNav {
          font-size: 13px;
          background-color: #ffeb3b91 !important;
     }

     .form-control {
          outline: none !important;
          box-shadow: none !important;
     }

     @media screen and (max-width:540px) {
          .centerOnMobile {
               text-align: center
          }
     }
</style>
<!-- Dismissible Promo Banner -->
<!-- <div class="promo-banner" id="promoBanner">
     أفضل عروض كفتة موحا شنايدر! اطلب الآن واحصل على توصيل مجاني في الدار البيضاء.
     <button type="button" id="closeBanner">&times;</button>
</div> -->
<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light shadow-sm">
     <div class="container" style="padding: 1px;">
          <a class="navbar-brand" href="/"> <strong>NDRESSILIK</strong></a>

          <button class="navbar-toggler">
               <!-- phone -->
               <% if(user) { %>
                    <% if(user.role==='writer' ) { %>
                         <a class="btn btn-success mb-2" href="/write-article/new">Partager une article</a>

                         <% } %>
                              <% if (user.role==='user' ) { %>
                                   <a href="/announcements/new" class="btn btn-warning pulse-button">ajouter annonce</a>
                                   <% } %>

                                        <% if(user.role==='admin' ) { %>
                                             <a class="btn btn-danger mb-2" href="/admin">admin</a>

                                             <% } %>
                                                  <% } %>
                                                       <!-- public -->
                                                       <% if (!user) { %>
                                                            <a class="btn btn-warning pulse-button" href="/announcements/new">Ajouter une Annonce</a>

                                                            <% } %>

          </button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>


          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
               <div class="ms-auto d-none d-lg-block">
                    <div class="input-group">
                         <!-- <span class="border-warning input-group-text bg-warning text-white"><i class="fa-solid fa-magnifying-glass"></i></span> -->
                         <!-- <input type="text" class="form-control border-warning" style="color:#7a7a7a"> -->
                         <!-- <button class="btn btn-warning text-white">Search</button> -->
                    </div>
               </div>
               <ul class="navbar-nav ms-auto ">

                    <li class="nav-item">
                         <a class="nav-link mx-2 text-uppercase" href="/announcements">Les Annonces</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link mx-2 text-uppercase" href="/consultation">Consultation</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link mx-2 text-uppercase" href="/articles">Les Articles</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link mx-2 text-uppercase" href="/tous-les-races-des-chiens">Les Races Des Chiens</a>
                    </li>
               </ul>

               <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                         <% if(user) { %>
                              <% if(user.role==='writer' ) { %>
                                   <a class="btn btn-success mb-2" href="/write-article/new">Partager une article</a>

                                   <% } %>
                                        <% if (user.role==='user' ) { %>
                                             <a href="/announcements/new" class="btn btn-warning pulse-button">ajouter une annonce</a>
                                             <% } %>

                                                  <% if(user.role==='admin' ) { %>
                                                       <a class="btn btn-danger mb-2" href="/admin">admin</a>

                                                       <% } %>
                                                            <% } %>
                                                                 <!-- public -->
                                                                 <% if (!user) { %>
                                                                      <a class="btn btn-warning pulse-button" href="/announcements/new">Ajouter une Annonce</a>

                                                                      <% } %>


                    </li>
               </ul>
          </div>

     </div>
</nav>