<div class="container mt-10">
     <div class="row ">

          <!-- Service 1: Je suis un dresseur -->
          <div class="col-lg-6 col-md-6 d-flex justify-content-center">
               <div class="card" style="width: 24rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/dxg2nsnkj/image/upload/v1725997646/2_ovl93d.png" alt="Card image cap">
                    <div class="card-body">
                         <h5> <a href="/marche-canine" class="card-title">Adoption et Vendre Des Chiens</a></h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                         <a href="/marche-canine" class="btn btn-primary d-flex justify-content-around">Vendre Votre Chien</a>
                    </div>
               </div>
          </div>

          <!-- Service 2: Je recherche un dresseur -->
          <div class="col-lg-6 col-md-6 d-flex justify-content-center">
               <div class="card" style="width: 24rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/dxg2nsnkj/image/upload/v1725997646/1_wdudt2.png" alt="Card image cap">
                    <div class="card-body">
                         <h5 class="card-title">Card title</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                         <a href="#" class="btn btn-primary d-flex justify-content-around">Go somewhere</a>
                    </div>
               </div>
          </div>


     </div>
</div>