<%- include('./partials/head.ejs') %>
     <style>
          @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');

          body {
               direction: rtl;
               text-align: justify;
               font-family: "Baloo Bhaijaan 2", Arial, Helvetica, sans-serif;
          }

          form {
               margin: auto;
               max-width: 700px;
               margin-bottom: 30px;
          }

          form input,
          form textarea {
               border: 2px solid #ffbd59 !important
          }
     </style>
     <div class="container mt-5">
          <h1 class="text-center text-success">تم إرسال الاستشارة</h1>
          <p>تم إرسال استشارتك بنجاح. سنتواصل معك قريبًا.</p>
          <a href="/" class="btn btn-warning btn-lg">العودة إلى الصفحة الرئيسية</a>
     </div>

     <%- include('./partials/footer.ejs') %>