<%- include('./partials/head.ejs') %>

     <div class="container mt-5">
          <h1 class="text-center">Consultation Submitted</h1>
          <p>Your consultation has been submitted successfully. We will get back to you soon.</p>
          <a href="/" class="btn btn-primary">Return to Home</a>
     </div>

     <%- include('./partials/footer.ejs') %>